html,
body {
  overflow: hidden;
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#home {
  height: 100%;
}
#home .bg-img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
#home .bg-img .overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .8;
  background: #1C1D21;
}
#home .home-wrapper {
  height: 100%;
}
#home .home-wrapper .container {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#home .home-wrapper .container h1 {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 20px;
}
#home .home-wrapper .container p {
  text-align: center;
  font-size: 16px;
}
#home .home-wrapper .container .home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home .home-wrapper .container .icon {
  border: 70px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 50px 135px rgba(255, 255, 255, 0.1), 0px 0px 50px 135px rgba(255, 255, 255, 0.1) inset;
  height: 450px;
  width: 450px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  border-radius: 50%;
  animation: zhuan 50s linear infinite;
}
#home .home-wrapper .container .icon:hover {
  animation-play-state: paused;
}
#home .home-wrapper .container .icon:hover a {
  animation-play-state: paused;
}
#home .home-wrapper .container .icon:hover a i {
  animation-play-state: paused;
}
#home .home-wrapper .container .icon a {
  position: absolute;
  top: 50%;
  margin-top: -35px;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  text-decoration: none;
}
#home .home-wrapper .container .icon a::before {
  font-size: 30px;
}
#home .home-wrapper .container .icon a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#home .home-wrapper .container .icon .weibo {
  transform: rotateZ(0deg) translateX(200px);
  animation: dong 1s infinite alternate;
}
#home .home-wrapper .container .icon .github {
  transform: rotateZ(45deg) translateX(200px);
  animation: dong 1s infinite alternate;
}
#home .home-wrapper .container .icon .csdn {
  transform: rotateZ(90deg) translateX(200px);
  animation: dong 1s infinite alternate;
}
#home .home-wrapper .container .icon .juejin {
  transform: rotateZ(135deg) translateX(200px);
  animation: dong 1s infinite alternate;
}
#home .home-wrapper .container .icon .QQ {
  transform: rotateZ(180deg) translateX(200px);
  animation: dong 1s infinite alternate;
}
#home .home-wrapper .container .icon .zhihu {
  transform: rotateZ(225deg) translateX(200px);
  animation: dong 1s infinite alternate;
}
#home .home-wrapper .container .icon .email {
  transform: rotateZ(270deg) translateX(200px);
  animation: dong 1s infinite alternate;
}
#home .home-wrapper .container .icon .jianli {
  transform: rotateZ(315deg) translateX(200px);
  animation: dong 1s infinite alternate;
}
#home .home-wrapper .container .icon .icon-weibo {
  font-size: 26px;
  transform: rotateZ(0deg);
  animation: myzhuan1 50s linear infinite;
}
#home .home-wrapper .container .icon .icon-github {
  font-size: 26px;
  transform: rotateZ(-45deg);
  animation: myzhuan2 50s linear infinite;
}
#home .home-wrapper .container .icon .icon-csdn {
  font-size: 26px;
  transform: rotateZ(-90deg);
  animation: myzhuan3 50s linear infinite;
}
#home .home-wrapper .container .icon .icon-juejin {
  font-size: 26px;
  transform: rotateZ(-135deg);
  animation: myzhuan4 50s linear infinite;
}
#home .home-wrapper .container .icon .icon-QQ {
  font-size: 26px;
  transform: rotateZ(-180deg);
  animation: myzhuan5 50s linear infinite;
}
#home .home-wrapper .container .icon .icon-zhihu {
  font-size: 26px;
  transform: rotateZ(-225deg);
  animation: myzhuan6 50s linear infinite;
}
#home .home-wrapper .container .icon .icon-email {
  font-size: 26px;
  transform: rotateZ(-270deg);
  animation: myzhuan7 50s linear infinite;
}
#home .home-wrapper .container .icon .icon-jianli {
  font-size: 26px;
  transform: rotateZ(-315deg);
  animation: myzhuan8 50s linear infinite;
}
@keyframes zhuan {
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes myzhuan1 {
  to {
    transform: rotateZ(-360deg);
  }
}
@keyframes myzhuan2 {
  to {
    transform: rotateZ(-405deg);
  }
}
@keyframes myzhuan3 {
  to {
    transform: rotateZ(-450deg);
  }
}
@keyframes myzhuan4 {
  to {
    transform: rotateZ(-495deg);
  }
}
@keyframes myzhuan5 {
  to {
    transform: rotateZ(-540deg);
  }
}
@keyframes myzhuan6 {
  to {
    transform: rotateZ(-585deg);
  }
}
@keyframes myzhuan7 {
  to {
    transform: rotateZ(-630deg);
  }
}
@keyframes myzhuan8 {
  to {
    transform: rotateZ(-675deg);
  }
}
@keyframes dong1 {
  to {
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1), 0px 0px 10px 0px rgba(255, 255, 255, 0.1) inset;
  }
}
@keyframes dong {
  to {
    box-shadow: 0px 0px 10px 0px #fff, 0px 0px 10px 0px #fff inset;
  }
}
