html,
body {
    overflow: hidden;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#home {
    height: 100%;

    .bg-img {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;

        .overlay {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: .8;
            background: #1C1D21;
        }
    }

    .home-wrapper {
        height: 100%;

        .container {
            height: 100%;
            color: #fff;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            h1 {
                font-size: 80px;
                font-weight: 700;
                margin-bottom: 20px;
            }

            p {
                text-align: center;
                font-size: 16px;
            }

            .home-content {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .icon {
                border: 70px solid rgba(255, 255, 255, .1);
                box-shadow: 0px 0px 50px 135px rgba(255, 255, 255, .1), 0px 0px 50px 135px rgba(255, 255, 255, .1) inset;
                height: 450px;
                width: 450px;
                position: absolute;
                display: flex;
                justify-content: space-around;
                margin: 0 auto;
                border-radius: 50%;
                animation: zhuan 50s linear infinite;

                &:hover {
                    animation-play-state: paused;

                    a {
                        animation-play-state: paused;

                        i {
                            animation-play-state: paused;

                        }
                    }
                }

                a {
                    position: absolute;
                    top: 50%;
                    margin-top: -35px;
                    height: 70px;
                    width: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    text-decoration: none;

                    &::before {
                        font-size: 30px;
                    }

                    &:hover {
                        background-color: rgba(255, 255, 255, .1);

                    }


                }

                .weibo {
                    transform: rotateZ(0deg) translateX(200px);
                    animation: dong 1s infinite alternate
                }


                .github {
                    transform: rotateZ(45deg) translateX(200px);
                    animation: dong 1s infinite alternate
                }

                .csdn {
                    transform: rotateZ(90deg) translateX(200px);
                    animation: dong 1s infinite alternate
                }

                .juejin {
                    transform: rotateZ(135deg) translateX(200px);
                    animation: dong 1s infinite alternate
                }


                .QQ {
                    transform: rotateZ(180deg) translateX(200px);
                    animation: dong 1s infinite alternate
                }


                .zhihu {
                    transform: rotateZ(225deg) translateX(200px);
                    animation: dong 1s infinite alternate
                }


                .email {
                    transform: rotateZ(270deg) translateX(200px);
                    animation: dong 1s infinite alternate
                }


                .jianli {
                    transform: rotateZ(315deg) translateX(200px);
                    animation: dong 1s infinite alternate
                }



                .icon-weibo {
                    font-size: 26px;
                    transform: rotateZ(0deg);
                    animation: myzhuan1 50s linear infinite;

                }

                .icon-github {
                    font-size: 26px;
                    transform: rotateZ(-45deg);
                    animation: myzhuan2 50s linear infinite;

                }

                .icon-csdn {
                    font-size: 26px;
                    transform: rotateZ(-90deg);
                    animation: myzhuan3 50s linear infinite;

                }

                .icon-juejin {
                    font-size: 26px;
                    transform: rotateZ(-135deg);
                    animation: myzhuan4 50s linear infinite;

                }

                .icon-QQ {
                    font-size: 26px;
                    transform: rotateZ(-180deg);
                    animation: myzhuan5 50s linear infinite;

                }

                .icon-zhihu {
                    font-size: 26px;
                    transform: rotateZ(-225deg);
                    animation: myzhuan6 50s linear infinite;

                }

                .icon-email {
                    font-size: 26px;
                    transform: rotateZ(-270deg);
                    animation: myzhuan7 50s linear infinite;

                }

                .icon-jianli {
                    font-size: 26px;
                    transform: rotateZ(-315deg);
                    animation: myzhuan8 50s linear infinite;

                }
            }
        }
    }
}

@keyframes zhuan {
    from {}

    to {
        transform: rotateZ(360deg)
    }

}
@keyframes myzhuan1 {
    from {}
    to {
        transform: rotateZ(-360deg)
    }
}
@keyframes myzhuan2 {
    from {}
    to {
        transform: rotateZ(-405deg)
    }
}
@keyframes myzhuan3 {
    from {}
    to {
        transform: rotateZ(-450deg)
    }
}
@keyframes myzhuan4 {
    from {}
    to {
        transform: rotateZ(-495deg)
    }
}
@keyframes myzhuan5 {
    from {}
    to {
        transform: rotateZ(-540deg)
    }
}
@keyframes myzhuan6 {
    from {}
    to {
        transform: rotateZ(-585deg)
    }
}
@keyframes myzhuan7 {
    from {}
    to {
        transform: rotateZ(-630deg)
    }
}
@keyframes myzhuan8 {
    from {}
    to {
        transform: rotateZ(-675deg)
    }
}
@keyframes dong1 {
    from {}

    to {
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, .1), 0px 0px 10px 0px rgba(255, 255, 255, .1) inset;
    }
}
@keyframes dong {
    from {}

    to {
        box-shadow: 0px 0px 10px 0px #fff, 0px 0px 10px 0px #fff inset;
    }
}